@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&display=swap');

:root {
    --accent1: hsl(240, 78%, 70%);
    --accent2: hsl(240, 66%, 75%);
    --bgbright: hsl(0, 0%, 94%);
    --bgdark: hsl(200, 19%, 18%);
}

html, body {
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}

hr {
    width: 80%;
    border-color: var(--bgdark);
    background-color: var(--bgdark);
}

div.welcome {
    position: relative;
    width: 100%;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 113px;
    text-align: center;
    color: azure;
    padding: 188px 0 207px;
    background: linear-gradient(to top, rgba(51, 51, 204,0.5), rgba(51, 51, 204,0)),url("images/bg.jpg") no-repeat center;
    background-size: cover;
    border-bottom: 1px solid var(--bgbright);
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

span.credit {
    font-size: 12px;
    text-align: right;
    color: azure;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1%;
    padding-right: 1%;
}

span.credit a:link {
    color: lightblue;
    text-decoration: none;
}

.some-words {
    margin: 0;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    text-align: center;
    padding: 28px 0 40px;
    color: azure;
    background-color: var(--bgdark);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

div.tiles {
    margin: 35px 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

div.tile {
    display: inline;
    margin: 0 1%;
    aspect-ratio: 1 / 1.6;
    width: 80%;
    min-width: 200px;
    max-width: 250px;
    max-height: 350px;
    overflow: hidden;
    padding: 15px 25px;
    background-color: var(--bgbright);
    align-items: center;
    border-radius: 12px;
    position: relative;
    animation-name: slide-up;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

div.tile > p {
    font-size: 0.9em;
    padding: 3%;
}

div.tile > h1 {
    white-space: nowrap;
    font-size: 1.5em;
    text-align: center;
}

#tile-butters {
    margin-top: 50px;
    animation-duration: 2.5s;
}

#btn-butters {
    padding: 12px 0;
    cursor: pointer;
}

#tile-github {
    margin-top: 65px;
    animation-duration: 1.8s;
}

.icon {
    border-radius: 50%;
    width: 75px;
    display: block;
    margin: auto;
}

div.btn {
    color: azure;
    background-color: var(--accent1);
    border-radius: 12px;
    margin: 40px auto;
    min-width: 20px;
    width: 114px;
    text-align: center;
    font-size: 1.2em;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

div.btn:hover {
    background-color: var(--accent2);
}

a.btn {
    text-decoration: none;
    color: azure;
    display: block;
    padding: 12px 0;
    margin: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin:0;
}

footer {
    display: flex;
    height: 121px;
    width: 100%;
    margin: 10% 0 5%;
    color: azure;
    background-color: var(--bgdark);
    font-size: 1.3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pauseanimation {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 2s;
}

.slide-right {
    animation-name: slide-left;
    animation-duration: 2s;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    div.welcome {
        font-size: calc(70px + 5.6vw);
    }
    div.tiles {
        display: block;
        text-align: center;
    }
    div.tile {
        margin: 35px auto;
        display: block;
        width: 80%;
        animation-name: slide-right;
        animation-duration: 1.3s;
    }

    #tile-butters {
        margin: 35px auto;
        animation-duration: 1.3s;
    }

    #tile-mystery {
        animation-name: slide-left;
    }

    #tile-github {
        margin: 35px auto;
        animation-duration: 1.3s;
    }
}